* {
    box-sizing: border-box; /* Учитывает паддинги и границы в общей ширине/высоте */
}

.container {
    padding-top: 100px;
    height: 50px;
    width: 100%; /* Можно задать нужную ширину контейнера */
    display: flex;
    flex-direction: row; /* Меняем на строку */
    justify-content: center; /* Располагаем элементы по центру по горизонтали */
    align-items: center; /* Центрируем элементы по вертикали внутри контейнера */
    background-color: white; /* Можно изменить цвет фона контейнера */
}

.square {
    height: 150px;
    width: 150px;
    background-color: white; /* Элементы будут черного цвета */
    border: 2px solid black;
    margin: 10px; /* Отступы для всех элементов */
    padding: 5px; /* Внутренние отступы для всех элементов */
}

.container .square:last-child {
    margin: 10px,0,0,0;
    padding: 0;
 }
 
.sidebar {
    position: fixed; /* Закрепляет колонку сбоку */
    top: 30%; /* Размещение по вертикали относительно окна */
    left: 0; /* Размещение справа */
    transform: translateY(-50%); /* Центрирует колонку по вертикали */
    display: flex;
    flex-direction: column; /* Расположение кнопок вертикально */
    gap: 20px; /* Расстояние между кнопками */
    padding: 10px;
    background-color: #b39898; /* Темный фон для боковой панели */
}

.button-black {
    padding: 10px 20px; /* Размеры кнопок */
    background-color: black; /* Черный фон кнопок */
    border: 2px solid black; /* Черная граница */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}
.button-red {
    padding: 10px 20px; /* Размеры кнопок */
    background-color: red; /* Черный фон кнопок */
    border: 2px solid red; /* Черная граница */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}
.button-yellow {
    padding: 10px 20px; /* Размеры кнопок */
    background-color: yellow; /* Черный фон кнопок */
    border: 2px solid yellow; /* Черная граница */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}
.button-reset {
    padding: 10px 20px; /* Размеры кнопок */
    background-color: grey; /* Черный фон кнопок */
    border: 2px solid grey; /* Черная граница */
    color: white; /* Белый цвет текста */
    font-size: 16px; /* Размер шрифта */
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}

.button-reset:hover {
    background-color: #555; /* Цвет фона при наведении */
}



/* Вторая таблица с кнопками */
.second-sidebar {
    position: fixed; /* Закрепляет колонку сбоку */
    top: 70%; /* Размещение по вертикали относительно окна */
    left: 0; /* Размещение справа */
    transform: translateY(-50%); /* Центрирует колонку по вертикали */
    display: flex;
    flex-direction: column; /* Расположение кнопок вертикально */
    gap: 20px; /* Расстояние между кнопками */
    padding: 10px;
    background-color: #b39898; /* Темный фон для боковой панели */
}

.button-green {
    padding: 10px 20px; /* Размеры кнопок */
    background-color: green; /* Черный фон кнопок */
    border: 2px solid green; /* Черная граница */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}
.button-blue {
    padding: 10px 20px; /* Размеры кнопок */
    background-color: blue; /* Черный фон кнопок */
    border: 2px solid blue; /* Черная граница */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}
.button-purple {
    padding: 10px 20px; /* Размеры кнопок */
    background-color: purple; /* Черный фон кнопок */
    border: 2px solid purple; /* Черная граница */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}
.button-reset2 {
    padding: 10px 20px; /* Размеры кнопок */
    background-color: grey; /* Черный фон кнопок */
    border: 2px solid grey; /* Черная граница */
    color: white; /* Белый цвет текста */
    font-size: 16px; /* Размер шрифта */
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}

.button-reset2:hover {
    background-color: #555; /* Цвет фона при наведении */
}